<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Windows_Charm_if_it_Didnt_Suck.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WCDS.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <Windows_Charm_if_it_Didnt_Suck.MySettings>
            <setting name="OpenMethod" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="VT_API" serializeAs="String">
                <value />
            </setting>
            <setting name="VT_WaitTime" serializeAs="String">
                <value>16</value>
            </setting>
            <setting name="SL_CoverTaskBar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SG_Size" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SS_MaxResult" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="SS_ClearSearchOnDeactivate" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SE_ResetToMainOnDeactivate" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OPENZONE_ysize" serializeAs="String">
                <value>400</value>
            </setting>
            <setting name="OPENZONE_xwide" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="OPENZONE_yoffset" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MemoText" serializeAs="String">
                <value>     )))
    (((
  +-----+
  |     |]
  `-----'

Mr. Robot's overdue coffee he requested over a year ago</value>
            </setting>
        </Windows_Charm_if_it_Didnt_Suck.MySettings>
        <WCDS.MySettings>
            <setting name="OpenMethod" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="MemoText" serializeAs="String">
                <value />
            </setting>
        </WCDS.MySettings>
    </userSettings>
</configuration>